@model List<MenuViewModel>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            @foreach (var menu in Model)
            {
                if (menu.SubMenus != null && menu.SubMenus.Any())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@menu.MenuName</a>
                        <ul class="dropdown-menu">
                            @foreach (var submenu in menu.SubMenus)
                            {
                                <li><a class="dropdown-item" href="#">@submenu</a></li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">@menu.MenuName</a>
                    </li>
                }
            }
        </ul>
    </div>
</nav>

