@{
    ViewData["Title"] = "CopyClusterData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<div class="w-full" id="bdy">

    <div class="bg-white shadow rounded-lg p-6">

        <h3>Copy Cluster Data </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4 mb-4">
            <div>
                <label for="Company " class="block text-sm font-medium text-gray-700">Company</label>

                <select id="Company" Name="Company" class="form-control mandatory" onchange="RegionBind()">
                    <option value="0">Select</option>
                    @if (ViewBag.company != null)
                    {
                        foreach (var e in ViewBag.company as List<SelectListItem>)
                        {
                            <option value="@e.Value">@e.Text</option>
                        }
                    }

                </select>

            </div>
            <div>
                <label for="Region " class="block text-sm font-medium text-gray-700">Region</label>

                <select id="Region" Name="Region" class="form-control mandatory" onchange="bindbarnch()">
                    <option value="0">Select</option>


                </select>
            </div>
            <div>
                <label for="Branch " class="block text-sm font-medium text-gray-700">Branch</label>

                <select id="Branch" Name="Branch" class="form-control mandatory">
                    <option value="0">Select</option>


                </select>

            </div>
            <div class="col-">
                <button onclick="SaveCluster()" class="bg-green-600 hover:bg-green-700  py-2 px-2 mt-4 text-white rounded">Copy To Other Branch</button>

            </div>
        </div>
        <div class="row w-100">
            <div class="col-12 overflow-x-auto">
                <div id="printdiv"></div>
            </div>
        </div>

        
        </div>
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="~/js/Master/ClusterCopyData.js" asp-append-version="true"></script>
        <script src="~/js/Master.js" asp-append-version="true"></script>

