
@{
    ViewData["Title"] = "SocietyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    @using Microsoft.AspNetCore.Http
    string Add = HttpContextAccessor.HttpContext.Session.GetString("Add");
}

<script src="https://cdn.tailwindcss.com"></script>
<div class="w-full min-h-screen" id="bdy">
    <div class="max-w-7xl mx-auto bg-white shadow rounded-lg p-6">


        <div class="md:flex justify-content-between">

            <h3>Society List</h3>
            @if(Add == "1")
            {
                
            
            <div>
              <a href="~/ExcelFormat/Society_Sample_Data_Sheet.xlsx" download class="bg-green-600 text-decoration-none font-semibold text-white mx-2 px-4 py-2 rounded hover:bg-green-700">
  Download Excel Format
</a>

            <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Bulk Upload
        </button>
                </div>
            }
        </div>
        <div class="">
            <div class="flex flex-wrap gap-2 items-center justify-start mx-2 py-4 bg-white ">
               
                <button onclick="exportexcel('Society')" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded shadow">
                    Export To Excel
                </button>
                @if (Add == "1")
                {
                    
             
                    <a href="~/master/SocietyMaster" class="bg-blue-500 text-decoration-none hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow">Add New Society</a>
                }
 </div>

            <div class="col-md-3 col-lg-3">
                <input type="text" Id="filterInput" class="form-control" placeholder="Search Here ..." />
            </div>
        <div class="row w-100">
                <div class="col-12 overflow-x-auto">
                <div id="PrintDiv"></div>
            </div>
        </div>
        </div>


        <div id="loaderOverlay" class="position-fixed top-0 start-0 w-100 h-100 bg-white bg-opacity-75 d-flex justify-content-center align-items-center d-none" style="z-index: 1055; display: none;">
            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        </div>
        </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/js/Master.js" asp-append-version="true"></script>
        <script src="~/js/Master/SocietyList.js" asp-append-version="true"></script>
