table th {
    font: 18px Calibri;
    border: solid 1px #DDD;
    border-collapse: collapse;
    font-weight: bold;
    padding: 2px 3px;
    text-align: center;
}

table td {
    font: 18px Calibri;
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}