@model MilkBasket.Models.BranchLogin;
@{
    ViewData["Title"] = "Branch Login - IFM360";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/assets/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->


    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/LoginStyle.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />

</head>
<body>
    @if (ViewBag.msg != null)
    {
        <div id="captchaAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.msg

        </div>
    }

    <nav class="navbar navbar-expand-lg bg-white navbar-light">
        <a href="" class="navbar-brand d-flex align-items-center ps-2">
            <img src="~/img/logo.png" alt="" class="img-fluid" width="140px" />
        </a>
        <button type="button"
                class="navbar-toggler me-4"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="~/Admin/Company" class="nav-item nav-link">
                    <div class="d-flex align-items-left gap-1">

                        <strong>Create Company</strong>
                    </div>
                </a>
                <a href="~/Admin/Branch" class="nav-item nav-link">
                    <div class="d-flex align-items-center gap-1">

                        <strong>Create Branch</strong>
                    </div>
                </a>

            </div>

            <a id="btnlogout" type="button" class="btn-dark" asp-controller="Home" asp-action="Logout"
               style="position: absolute;border-radius: 10px; top: 10px; right: 10px; padding: 6px 20px; border: none; text-decoration: none;">
                <i class="fas fa-sign-out-alt me-1"></i>  Logout
            </a>
        </div>
    </nav>
    <div class="container-scrollerbranch">
        <div class="container-fluid page-body-wrapperbranch  full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto login-size">
                        <div class="card" id="card">
                            <div class="card-inner">
                                <div class="card-front">

                                    <div class="auth-form-light text-left">
                                        <img src="~/img/Logo-Icon.png" />

                                        <div class="form_text text-center">
                                            <h5 class="fw-light">Login To Branch</h5>
                                        </div>

                                        <form class="pt-3" method="post" asp-action="BranchLogin" asp-controller="Home">
                                            <div class="form-group">
                                                <label for="company" class="form-label">Company</label>
                                                <select id="company" asp-for="CompanyId" class="form-control form-control-lg"  onchange="RegionBind(this.value)">
                                                 
                                                    @if (ViewBag.company != null)
                                                    {
                                                        foreach (var item in ViewBag.company)
                                                        {
                                                            <option value="@item.Value">@item.Text</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group mb-0">
                                                <label for="Region" class="form-label">Region</label>
                                                <select onchange="bindbarnch()" class="form-control" id="RegionID" asp-for="RegionId">
                                                    
                                                </select>
                                            </div>


                                            <div class="form-group mb-0">
                                                <label for="branch" class="form-label">Branch</label>
                                                <select class="form-control" asp-for="BranchId" id="branch">
                                                    @* <option value="0">Select Branch</option> *@
                                                </select>
                                            </div>


                                         
                                            <div class="mt-4 d-grid gap-2">
                                                <button type="submit" class="btn btn-block btn-dark btn-lg fw-medium auth-form-btn">Login To Branch</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>


                                
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
@*     <script src="~/js/Admin/SetURL.js" defer asp-append-version="true"></script> *@
    <script src="~/assets/vendors/js/vendor.bundle.base.js" asp-append-version="true" ></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js" asp-append-version="true" ></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/Master.js" asp-append-version="true"></script>
    <script src="~/js/Admin/BranchLogin.js" asp-append-version="true"></script>
   
    <script src="~/assets/js/off-canvas.js" asp-append-version="true" ></script>
    <script src="~/assets/js/template.js" asp-append-version="true" ></script>
    <script src="~/assets/js/settings.js"></script>
    <script src="~/assets/js/hoverable-collapse.js" asp-append-version="true" ></script>

   
    <!-- endinject -->


    <script>

        setTimeout(function () {
            $('#captchaAlert').alert('close');
        }, 2000);
        document.getElementById("show-signup").addEventListener("click", function (event) {
            event.preventDefault();
            document.getElementById("card").classList.add("flipped");
        });
        document.getElementById("show-login").addEventListener("click", function (event) {
            event.preventDefault();
            document.getElementById("card").classList.remove("flipped");
        });
    </script>

</body>
</html>

